@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$font-family: 'Open Sans', Helvetica, Arial, sans-serif;

$h1-fonts : 'Montserrat', Helvetica, Arial, sans-serif;
$h2-fonts : 'Montserrat', Helvetica, Arial, sans-serif;
$h3-fonts : 'Montserrat', Helvetica, Arial, sans-serif;
$h4-fonts : 'Montserrat', Helvetica, Arial, sans-serif;
$h5-fonts : 'Montserrat', Helvetica, Arial, sans-serif;
$h6-fonts : 'Montserrat', Helvetica, Arial, sans-serif;

$yellow : #f5b612;
$light-red : #f55612;
$medium-red : #cc3e02;
$dark-red : #882d07;

$link-color : #ffffff;

// $root-bg-color : #383c42;
$root-bg-color : #1d1d1d;
$text-color : #333333;

$header-bg-color : $black;
// $header-bg-color : #351102;
// $header-bg-color : rgba(56,16,0,.8);

$ribbon-bg-color : #635858;
$ribbon-h1-bg-color : $dark-red;

$main-bg-color : transparent;
$highlights-icon-fill : #333;
