@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
.chassis a.disabled {
  pointer-events: none; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol,
ul {
  list-style: none; }

q,
blockquote {
  quotes: none; }
  q:before, q:after,
  blockquote:before,
  blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

input,
textarea,
button {
  font-size: inherit; }

.hidden {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important; }

.thin-weight {
  font-weight: 100 !important; }

.light-weight {
  font-weight: 300 !important; }

.regular-weight {
  font-weight: 400 !important; }

.semibold-weight {
  font-weight: 500 !important; }

.bold-weight {
  font-weight: 700 !important; }

.ultra-weight {
  font-weight: 900 !important; }

.normal-style {
  font-style: normal !important; }

.italic-style {
  font-style: italic !important; }

.width-constraint {
  width: 100%;
  min-width: 320px !important;
  max-width: 1440px !important;
  margin: 0 auto;
  padding-left: 6.18vw;
  padding-right: 6.18vw; }
  @media screen and (max-width: 320px) {
    .width-constraint {
      padding-left: 20px;
      padding-right: 20px; } }
  @media screen and (min-width: 1440px) {
    .width-constraint {
      padding-left: 89px;
      padding-right: 89px; } }

.chassis {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px; }
  .chassis h1 {
    font-size: 1.6em;
    line-height: 1.41667em;
    margin-bottom: 0.87555em; }
  .chassis h2 {
    font-size: 1.26667em;
    line-height: 1.16667em;
    margin-bottom: 0.91079em; }
  .chassis h3 {
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 0.98885em; }
  .chassis h4 {
    font-size: 0.8em;
    line-height: 0.875em;
    margin-bottom: 1.08156em; }
  .chassis h5 {
    font-size: 0.8em;
    line-height: 0.875em;
    margin-bottom: 1.08156em; }
  .chassis h6 {
    font-size: 0.8em;
    line-height: 0.875em;
    margin-bottom: 1.08156em; }
  .chassis legend {
    font-size: 1.26667em;
    line-height: 1.16667em;
    margin-bottom: 0.91079em; }
  .chassis section,
  .chassis nav,
  .chassis form {
    margin-bottom: 2.58885em; }
  .chassis nav section,
  .chassis section nav,
  .chassis nav nav,
  .chassis article,
  .chassis fieldset,
  .chassis figure,
  .chassis pre,
  .chassis blockquote,
  .chassis table,
  .chassis canvas,
  .chassis embed {
    margin-bottom: 1.6em; }
  .chassis p {
    margin-bottom: 1em; }
  @media screen and (min-width: 512px) and (max-width: 767px) {
    .chassis {
      font-size: 16px;
      line-height: 27px; }
      .chassis h1 {
        font-size: 1.625em;
        line-height: 1.40741em; }
      .chassis h2 {
        font-size: 1.25em;
        line-height: 1.14815em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.8125em;
        line-height: 0.88889em; }
      .chassis h5 {
        font-size: 0.8125em;
        line-height: 0.88889em; }
      .chassis h6 {
        font-size: 0.8125em;
        line-height: 0.88889em; }
      .chassis legend {
        font-size: 1.25em;
        line-height: 1.14815em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.73043em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.6875em; }
      .chassis p {
        margin-bottom: 1em; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .chassis {
      font-size: 17px;
      line-height: 29px; }
      .chassis h1 {
        font-size: 1.64706em;
        line-height: 1.41379em; }
      .chassis h2 {
        font-size: 1.29412em;
        line-height: 1.17241em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.76471em;
        line-height: 0.89655em; }
      .chassis h5 {
        font-size: 0.76471em;
        line-height: 0.89655em; }
      .chassis h6 {
        font-size: 0.76471em;
        line-height: 0.89655em; }
      .chassis legend {
        font-size: 1.29412em;
        line-height: 1.17241em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.76018em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.70588em; }
      .chassis p {
        margin-bottom: 1em; } }
  @media screen and (min-width: 1024px) and (max-width: 1199px) {
    .chassis {
      font-size: 18px;
      line-height: 31px; }
      .chassis h1 {
        font-size: 1.61111em;
        line-height: 1.3871em; }
      .chassis h2 {
        font-size: 1.27778em;
        line-height: 1.16129em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.77778em;
        line-height: 0.90323em; }
      .chassis h5 {
        font-size: 0.77778em;
        line-height: 0.90323em; }
      .chassis h6 {
        font-size: 0.77778em;
        line-height: 0.90323em; }
      .chassis legend {
        font-size: 1.27778em;
        line-height: 1.16129em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.78661em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.72222em; }
      .chassis p {
        margin-bottom: 1em; } }
  @media screen and (min-width: 1200px) {
    .chassis {
      font-size: 19px;
      line-height: 34px; }
      .chassis h1 {
        font-size: 1.63158em;
        line-height: 1.35294em; }
      .chassis h2 {
        font-size: 1.26316em;
        line-height: 1.11765em; }
      .chassis h3 {
        font-size: 1em;
        line-height: 1em; }
      .chassis h4 {
        font-size: 0.78947em;
        line-height: 0.91176em; }
      .chassis h5 {
        font-size: 0.78947em;
        line-height: 0.91176em; }
      .chassis h6 {
        font-size: 0.78947em;
        line-height: 0.91176em; }
      .chassis legend {
        font-size: 1.26316em;
        line-height: 1.11765em; }
      .chassis section,
      .chassis nav,
      .chassis form {
        margin-bottom: 2.89543em; }
      .chassis nav section,
      .chassis section nav,
      .chassis nav nav,
      .chassis article,
      .chassis fieldset,
      .chassis figure,
      .chassis pre,
      .chassis blockquote,
      .chassis table,
      .chassis canvas,
      .chassis embed {
        margin-bottom: 1.78947em; }
      .chassis p {
        margin-bottom: 1em; } }

html {
  background: #1d1d1d; }

.chassis {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  color: #333333; }
  .chassis a {
    text-decoration: none;
    text-transform: none;
    color: #ffffff; }
    .chassis a:hover {
      text-decoration: underline;
      color: #fafafa; }
    .chassis a:active {
      text-decoration: initial; }
    .chassis a.disabled {
      text-decoration: initial;
      color: #bcbdc1; }
  .chassis h1 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h2 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h3 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h4 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h5 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }
  .chassis h6 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    color: inherit;
    text-transform: none;
    text-decoration: none; }

.width-constraint {
  width: 100%; }

html {
  height: 100vh; }

.bcr {
  display: flex;
  flex-direction: column;
  min-height: 100%; }
  .bcr .splash {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 3.82vh; }
    .bcr .splash header {
      flex: 0 0 auto;
      padding: 2.36vh 0 1.18vh; }
      .bcr .splash header .title {
        flex: 1 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        color: white; }
        .bcr .splash header .title h1 {
          margin: 0; }
          .bcr .splash header .title h1 a {
            color: #d59c52;
            text-transform: uppercase !important; }
            .bcr .splash header .title h1 a span {
              font-weight: 100; }
              @media screen and (max-width: 511px) {
                .bcr .splash header .title h1 a span {
                  font-size: 39px;
                  line-height: 53px; } }
              @media screen and (min-width: 512px) and (max-width: 767px) {
                .bcr .splash header .title h1 a span {
                  font-size: 42px;
                  line-height: 57px; } }
              @media screen and (min-width: 768px) and (max-width: 1023px) {
                .bcr .splash header .title h1 a span {
                  font-size: 45px;
                  line-height: 62px; } }
              @media screen and (min-width: 1024px) and (max-width: 1199px) {
                .bcr .splash header .title h1 a span {
                  font-size: 47px;
                  line-height: 65px; } }
              @media screen and (min-width: 1200px) {
                .bcr .splash header .title h1 a span {
                  font-size: 50px;
                  line-height: 69px; } }
            .bcr .splash header .title h1 a:hover {
              text-decoration: none !important; }
          @media screen and (max-width: 767px) {
            .bcr .splash header .title h1 {
              width: 100%;
              margin: 0; } }
        .bcr .splash header .title .location {
          letter-spacing: 0.2em;
          /* color: #790a0a; */
          /* text-transform: uppercase; */
          font-style: italic;
          font-variant: small-caps;
          color: rgba(230, 167, 72, 0.63); }
          @media screen and (max-width: 511px) {
            .bcr .splash header .title .location {
              font-size: 12px; } }
          @media screen and (min-width: 512px) and (max-width: 767px) {
            .bcr .splash header .title .location {
              font-size: 13px; } }
          @media screen and (min-width: 768px) and (max-width: 1023px) {
            .bcr .splash header .title .location {
              font-size: 13px; } }
          @media screen and (min-width: 1024px) and (max-width: 1199px) {
            .bcr .splash header .title .location {
              font-size: 14px; } }
          @media screen and (min-width: 1200px) {
            .bcr .splash header .title .location {
              font-size: 15px; } }
        @media screen and (min-width: 769px) {
          .bcr .splash header .title {
            text-align: left; } }
      .bcr .splash header .divider {
        height: 2px;
        margin: 0 0 .382em 1.5em;
        background: rgba(255, 0, 0, 0.618); }
      .bcr .splash header nav {
        display: flex;
        margin-bottom: 0;
        padding: 0 3em; }
        @media screen and (max-width: 511px) {
          .bcr .splash header nav {
            font-size: 12px;
            line-height: 21px; } }
        @media screen and (min-width: 512px) and (max-width: 767px) {
          .bcr .splash header nav {
            font-size: 13px;
            line-height: 24px; } }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          .bcr .splash header nav {
            font-size: 13px;
            line-height: 26px; } }
        @media screen and (min-width: 1024px) and (max-width: 1199px) {
          .bcr .splash header nav {
            font-size: 14px;
            line-height: 28px; } }
        @media screen and (min-width: 1200px) {
          .bcr .splash header nav {
            font-size: 15px;
            line-height: 31px; } }
        .bcr .splash header nav a {
          margin: 0 0.7888em 1.57761em 0;
          padding: 0 0.7888em;
          line-height: 2.55263em;
          margin-bottom: 0;
          color: rgba(230, 167, 72, 0.63);
          text-transform: uppercase;
          font-weight: 600; }
          .bcr .splash header nav a span {
            font-size: 1.382em; }
          .bcr .splash header nav a:hover {
            text-decoration: none;
            color: #d59c52; }
          .bcr .splash header nav a:first-child {
            padding-left: 0; }
          .bcr .splash header nav a:last-child {
            margin-right: 0;
            padding-right: 0;
            border: none; }
          .bcr .splash header nav a.contact {
            margin-left: auto; }
    .bcr .splash .hero {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      min-height: 36.8vh; }
      .bcr .splash .hero .photo {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        min-height: 23.6em;
        margin-bottom: 0;
        padding: 2.618em 0 1.618em;
        background-image: url("../images/bg_main_3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #635858;
        box-shadow: inset 0 0 0 0.618em black;
        filter: grayscale(20%); }
      @media screen and (min-width: 768px) {
        .bcr .splash .hero {
          min-height: 61.8vh; } }
  .bcr main {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0; }
    .bcr main .width-constraint {
      height: 100%; }
    .bcr main section {
      flex: 1 0 auto;
      margin-bottom: 0; }
    .bcr main .bio {
      padding: 2.618em 0;
      background: white; }
      .bcr main .bio header h1 {
        margin-bottom: 0; }
      @media screen and (max-width: 511px) {
        .bcr main .bio header h2 {
          font-size: 15px;
          line-height: 24px; } }
      @media screen and (min-width: 512px) and (max-width: 767px) {
        .bcr main .bio header h2 {
          font-size: 16px;
          line-height: 27px; } }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        .bcr main .bio header h2 {
          font-size: 17px;
          line-height: 29px; } }
      @media screen and (min-width: 1024px) and (max-width: 1199px) {
        .bcr main .bio header h2 {
          font-size: 18px;
          line-height: 31px; } }
      @media screen and (min-width: 1200px) {
        .bcr main .bio header h2 {
          font-size: 19px;
          line-height: 34px; } }
      .bcr main .bio .pic {
        margin: 0 0 1.618em; }
        .bcr main .bio .pic img {
          border: 1em solid #ededed; }
        @media screen and (min-width: 768px) {
          .bcr main .bio .pic {
            flex: 0 0 38.2%;
            margin: 0 3.82vw 0 0; } }
  .bcr > footer {
    flex: 0 0 auto;
    padding: 2.618em 0;
    color: #757677;
    text-align: center; }

#bio_container img {
  width: 100%;
  height: auto; }

@media screen and (min-width: 768px) {
  #bio_container {
    display: flex; } }

#bio_content_container {
  flex: 1 1 auto; }
